*{
    box-sizing:border-box ;
}
html{
    background-image: url('https://westeurope1-mediap.svc.ms/transform/thumbnail?provider=spo&inputFormat=jpg&cs=fFNQTw&docid=https%3A%2F%2Falqudscollege-my.sharepoint.com%3A443%2F_api%2Fv2.0%2Fdrives%2Fb!2spDmTvk_Ey3l_QSLPv1vkLnsRzUCaRDqWTh1FX8GP5tUMRzFWzmQ47zimRsNl9q%2Fitems%2F015YABFJX6OTTMEM5MWVCZFHPXYJGKR637%3Fversion%3DPublished&access_token=eyJ0eXAiOiJKV1QiLCJhbGciOiJub25lIn0.eyJhdWQiOiIwMDAwMDAwMy0wMDAwLTBmZjEtY2UwMC0wMDAwMDAwMDAwMDAvYWxxdWRzY29sbGVnZS1teS5zaGFyZXBvaW50LmNvbUBhMTYyYzUzMi03YTBjLTQ2NDUtOTZmZC0yMGQwMTljZjRlNWEiLCJpc3MiOiIwMDAwMDAwMy0wMDAwLTBmZjEtY2UwMC0wMDAwMDAwMDAwMDAiLCJuYmYiOiIxNjE1MjY5NjAwIiwiZXhwIjoiMTYxNTI5MTIwMCIsImVuZHBvaW50dXJsIjoiVzlMTWdBNGxHaTJ6MjJ2M3VoNEcxNVJDMmlpLzZrMllKd1ZyWVJwSklSUT0iLCJlbmRwb2ludHVybExlbmd0aCI6IjEyMyIsImlzbG9vcGJhY2siOiJUcnVlIiwidmVyIjoiaGFzaGVkcHJvb2Z0b2tlbiIsInNpdGVpZCI6Ik9UazBNMk5oWkdFdFpUUXpZaTAwWTJaakxXSTNPVGN0WmpReE1qSmpabUptTldKbCIsIm5hbWVpZCI6IjAjLmZ8bWVtYmVyc2hpcHx1cm4lM2FzcG8lM2Fhbm9uIzE3NDIwZGU2ZTQ5MTNkNjRkODA1MzM1ZGU3Yjk0MmY2MmY1OTNjYjAzYTMyNWIzNjhhZGQ4OWFhM2YwMzcwZjciLCJuaWkiOiJtaWNyb3NvZnQuc2hhcmVwb2ludCIsImlzdXNlciI6InRydWUiLCJjYWNoZWtleSI6IjBoLmZ8bWVtYmVyc2hpcHx1cm4lM2FzcG8lM2Fhbm9uIzE3NDIwZGU2ZTQ5MTNkNjRkODA1MzM1ZGU3Yjk0MmY2MmY1OTNjYjAzYTMyNWIzNjhhZGQ4OWFhM2YwMzcwZjciLCJzaGFyaW5naWQiOiI1WWpONlIzdWRFMklpZUNPUFRZOWJRIiwidHQiOiIwIiwidXNlUGVyc2lzdGVudENvb2tpZSI6IjIifQ.ZmhBOFdLd3VIenA4eW1yQ1lNOFdrRlloSFUrTHlPTTM4WmV6aUNnN1BwQT0&encodeFailures=1&srcWidth=&srcHeight=&width=563&height=375&action=Access') ;
background-size: cover;
background-repeat: no-repeat;
}
html , body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

header{
    background-color: rgba(96, 96, 96, 0.63);
    height: 50px;
    border-bottom: white solid 1px;
}
nav ul{
    overflow:hidden;    
    float: right;

}
nav ul li{
    display: inline;
    padding-right: 10px;
    margin-right: 50px;
    color: white;
    font-weight: bold;

}
nav ul li a{
    /* text-decoration: none; */
    color: white;
}
h2{
    color: white;
    position: relative;
    font-weight: bold;
    top: 15px;
    text-align: center;
}

form{
    background-color: rgba(96, 96, 96, 0.63);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: inline-block;
    position: relative;
    top: 20px;
    left: 50px;
    width: 500px;
    height: 300px;
    /* text-align: center; */
    border-radius:  5px;
    color: white;
    font-weight: bold;
    padding: 20px;

}
#article{
    border-radius: 5px;
    width: 50%;
    float: right;
    position: relative;
    top: 20px;
    right: 50px;
    height: 300px;
    background-color: rgba(96, 96, 96, 0.63);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
table{
    background-color: rgba(96, 96, 96, 0.63);
    text-align: center;
    border: white solid 1px;
    width: 70%;
    position: relative;
    top:20px;
    left: 100px;
   
}
td,th{
    border: white solid 1px;
    color: white;
    font-weight: bold;
    width: 50px;
    height: 30px;
    text-align: center;
    padding-top: 5px;

}
h3{
    color: white;
    font-weight: bold;
    text-align: center;
    position: relative;
    top: 50px;
}

footer{
    clear: both;
    height: 50px;
    background-color: rgba(96, 96, 96, 0.63);
position: relative;
margin-top: 253px;
margin-bottom: -100px;
}
#footerh{
    color: white;
    font-weight: bold;
    text-align: center;
}
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
input [type=text] {
width: 50px;
}
select{
    width: 200px;
}
  input[type=submit] {
    background-color: #989c98;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    left: 200px;
  }